body{
	background-color: #F5F8FA;
}
form{
	background-color: #E5F4F8;
}
textarea{
	border-color: #BFE5ED;
	resize: none;
}
button{
	background-color: #2EABC6;
	border-radius: 10px 10px 10px 10px;
	border: transparent;
}
.tweets{
	background-color: white;
	margin: 1%;
	padding: 1%;
	border: 1px solid #E1E8ED;
}
.amarillo{
	color: #FACC2E;
}
.anaranjado{
	color:#FE642E;
}
.rojo{
	color:#DF0101;
}
